*, *::before, *::after {
    box-sizing: border-box;
    font-family: Optima, sans-serif;
}

body {
    background-image: url("hustlePic.jpg");
    background-attachment: fixed;
    background-size: cover;
}

button, a {
    font-size: 80px;
    font-weight: bold;
    padding: 20px;
    margin-top: 30px;
    margin-bottom: 40px;
    border-style: outset;
    border-radius: 2px;
    -webkit-box-shadow: 5px 5px 13px 10px black, -50px -40px 0px -26px black; 
    box-shadow: 3px 3px 3px 6x rgb(5, 5, 75);;
    box-shadow: 3px 3px 3px 6px rgb(5, 5, 75); ;
    text-shadow:  3px 3px 3px black
}
button:hover {
    padding: 0;
    background-color: rgb(252, 229, 247);
    border: 3px solid;
    border-radius: 3px;
    padding: 5px 10px;
    margin-top: 70px;
    margin-bottom: 70px;
    border-style: outset;
}

.list {
    padding: 10px;
}